<div ng-controller="HostedFunctionsAddCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header">
        <h1>Add a Hosted Function</h1>
    </div>

    <div class="panel panel-body light-shadow">
        <form name="form" class="form-group dropzone" dropzone dropzone-url="/hosted_functions" dropzone-max-files="1" dropzone-max-size="15000000" dropzone-auto-upload="false" dropzone-template-id="dz-file" dropzone-show-delete="false" novalidate>

            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="name" class="control-label" translate>Name</label>
                    <input type="text" class="form-control" name="name" ng-model="hostedFunction.name" placeholder="{{ 'Enter name' | translate}}" required>
                    <p class="help-block hidden fadeInDown" translate>Please provide a name</p>
                    <p class="help-text" translate>For your use in identifying the function</p>
                </div>
            </div>

            

            <div class="col-md-6 col-xs-12">
                <div class="form-group" show-errors>
                    <label for="handler" class="control-label" translate>Handler</label>
                    <input type="text" class="form-control" name="handler" ng-model="hostedFunction.handler" placeholder="{{ 'Handler' | translate}}" required>
                    <p class="help-block hidden fadeInDown" translate>Please provide a handler</p>
                    <p class="help-text" translate>The function that should be invoked when your code is executed</p>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group" show-errors>
                    <label class="radio-group-label required" translate>Runtime Environment</label>
                    <div class="radio-group">
                        <input type="radio" id="environment-1" class="radio" name="environment" ng-model="hostedFunction.environment" value="nodejs4.3" required>
                        <label for="environment-1" class="radio-label">Node.js 4.3</label>
                        <input type="radio" id="environment-2" class="radio" name="environment" ng-model="hostedFunction.environment" value="java8" required>
                        <label for="environment-2" class="radio-label">Java 8</label>
                        <input type="radio" id="environment-3" class="radio" name="environment" ng-model="hostedFunction.environment" value="python2.7" required>
                        <label for="environment-3" class="radio-label">Python 2.7</label>
                        <input type="radio" id="environment-3" class="radio" name="environment" ng-model="hostedFunction.environment" value="dotnetcore1.0" required>
                        <label for="environment-3" class="radio-label">.NET Core 1.0 / C#</label>
                    </div>
                    <p class="help-block hidden fadeInDown" translate>Please select environment</p>
                    <p class="help-text" translate>The environment that will execute your code</p>
                </div>
            </div>

            <div class="col-xs-12">
                <label for="description" class="control-label" translate>Environment Variables</label>
            </div>

            <div ng-repeat="variable in environmentVariables">
                <ng-form name="variables">
                    <div class="col-md-6 col-xs-12" style="margin-bottom:-15px;">
                        <div class="form-group">
                            <label for="name" class="control-label text-capitalize" translate>Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="variable-name" ng-model="variable.name" ng-blur="setVariables()">
                                <span class="input-group-addon pointer" ng-click="removeVariable(environmentVariables, $index)"><i class="fa fa-trash pointer text-default" title="{{ 'Remove' | translate}}"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12" style="margin-bottom:-15px;">
                        <div class="form-group">
                            <label for="value" class="control-label text-capitalize" translate>Value</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="variable-value" ng-model="variable.value" ng-blur="setVariables()">
                            </div>
                        </div>
                    </div>

                    <div class="row"></div>
                </ng-form>
            </div>

            <div class="col-xs-12" style="margin-top:-5px; margin-bottom:35px;">
                <a class="btn btn-sm btn-info" ng-click="addVariable()" translate>Add environment variable</a>
                <p class="help-text" translate>Environment variables allow you to pass settings to your function at runtime, making it easier to use the same source code in live and test scenarios. Values provided are encrypted at rest.    </p>
            </div>

            <input type="hidden" name="environment_variables" value="{{environment_variables_json}}" />

            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="description" class="control-label" translate>Description</label>
                    <div>
                        <textarea class="form-control" id="description" name="description" ng-model="hostedFunction.description"></textarea>
                        <p class="help-text" translate>Additional information about the hosted function, for your reference</p>
                    </div>
                </div>
            </div>

            <div class="row"></div>

            <div class="col-xs-12">
                <div class="form-group">
                    <button id="top" class="btn btn-danger btn-right spacer-b10" ng-click="cancel()" ng-if="uploadSending"><i class="icon fa fa-times-circle"></i>&nbsp;<span translate>Cancel Upload</span></button>
                </div>
            </div>

            <div class="row"></div>

        </form>
    </div>
</div>