<div ng-controller="HostedFunctionsEditCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header">
        <h1>{{hostedFunction.name}}</h1>
    </div>

    <form name="form" novalidate>

        <div class="panel panel-body light-shadow">

            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" translate>Invoke URL</label>
                    <div class="text-info"><strong>{{hostedFunction.invoke_url}}</strong></div>
                    <p class="help-text" translate>To invoke your function, you must supply a token in your request that has permission to read, create or update hosted functions.</p>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group" show-errors>
                    <label for="name" class="control-label" translate>Name</label>
                    <input type="text" class="form-control" name="name" ng-model="hostedFunction.name" placeholder="{{ 'Enter name' | translate}}" required>
                    <p class="help-block hidden fadeInDown" translate>Please provide a name</p>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="hosted_function_id" class="control-label">Hosted Function ID</label>
                    <div>{{hostedFunction.hosted_function_id}}</div>
                </div>
            </div>

            <div class="row"></div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="filename" class="control-label" translate>Filename</label>
                    <div>{{hostedFunction.filename}}</div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="bytes" class="control-label" translate>Size</label>
                    <div>{{hostedFunction.bytes | bytesToMB}} ({{hostedFunction.bytes}} bytes)</div>
                </div>
            </div>

            <div class="row"></div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Created</label>
                    <div>{{hostedFunction.date_created | date:'mediumDate'}} {{hostedFunction.date_created | date:'shortTime'}}</div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Updated</label>
                    <div>{{hostedFunction.date_modified | date:'mediumDate'}} {{hostedFunction.date_modified | date:'shortTime'}}</div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group" show-errors>
                    <label for="handler" class="control-label" translate>Handler</label>
                    <input type="text" class="form-control" name="handler" ng-model="hostedFunction.handler" placeholder="{{ 'Handler' | translate}}" required>
                    <p class="help-block hidden fadeInDown" translate>Please provide handler</p>
                    <p class="help-text" translate>The function that should be invoked when your code is executed</p>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label class="radio-group-label" translate>Environment</label>
                    <span>{{hostedFunction.environment}}</span>
                </div>
            </div>

            <div class="col-xs-12">
                <label for="description" class="control-label" translate>Environment Variables</label>
            </div>

            <div ng-repeat="variable in environmentVariables">
                <ng-form name="variables">
                    <div class="col-md-6 col-xs-12" style="margin-bottom:-15px;">
                        <div class="form-group">
                            <label for="name" class="control-label text-capitalize" translate>Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="name" ng-model="variable.name">
                                <span class="input-group-addon pointer" ng-click="removeVariable(environmentVariables, $index)"><i class="fa fa-trash pointer text-default" title="{{ 'Remove' | translate}}"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12" style="margin-bottom:-15px;">
                        <div class="form-group">
                            <label for="value" class="control-label text-capitalize" translate>Value</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="value" ng-model="variable.value">
                            </div>
                        </div>
                    </div>

                    <div class="row"></div>
                </ng-form>
            </div>

            <div class="col-xs-12" style="margin-top:-5px; margin-bottom:35px;">
                <a class="btn btn-sm btn-info" ng-click="addVariable()" translate>Add environment variable</a>
                <p class="help-text" translate>Environment variables allow you to pass settings to your function at runtime, making it easier to use the same source code in live and test scenarios. Values provided are encrypted at rest.    </p>
            </div>

            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="description" class="control-label" translate>Description</label>
                    <textarea class="form-control" name="description" ng-model="hostedFunction.description" placeholder="{{ 'Optional' | translate}}"></textarea>
                </div>
                <p class="maxlength-message" max-length="1000" item="form.description"></p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-right btn-margin-left" ng-click="updateHostedFunction()" translate>Save Changes</button>
                <button type="submit" class="btn btn-default btn-right btn-margin-left" ng-click="confirmCancel()" translate>Cancel</button>
            </div>

            <div class="row"></div>

            <div class="panel-footer submenu" resource="hosted_functions" method="delete">
                <span class="delete" ng-click="confirmDelete()" translate>Delete this hosted function</span>
            </div>

        </div>
    </form>

    <div class="panel light-shadow spacer-t20">
        <div class="panel-heading">
            <span class="panel-title text-bold" translate>Update Hosted Function Code</span>
        </div>
        <div class="panel-body">

            <div class="row"></div>

            <div class="col-xs-12">
                <div class="form-group">
                    <button id="top" class="btn btn-danger btn-right spacer-b10" ng-click="cancelUpload()" ng-if="uploadSending"><i class="icon fa fa-times-circle"></i>&nbsp;<span translate>Cancel Upload</span></button>
                </div>
            </div>

            <div class="row"></div>

            <div class="row">
                <form class="form-group dropzone" dropzone dropzone-url="{{ uploadUrl }}" dropzone-max-files="1" dropzone-max-size="15000000" dropzone-auto-upload="false" dropzone-template-id="dz-file" dropzone-show-delete="false"></form>
            </div>

        </div>
    </div>
</div>

