<div ng-controller="EventViewCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header">
        <h1 ng-if="add" translate>Event Details</h1>
    </div>

        <div class="panel panel-body light-shadow">
             <div class="col-xs-12 col-sm-6 panel-tight-row">
                <div class="col-xs-12 col-md-4 panel-tight-section"><label>ID</label></div>
                <div class="col-xs-12 col-md-8 panel-tight-section">{{event.event_id}}</div>
            </div>
             <div class="col-xs-12 col-sm-6 panel-tight-row">
                <div class="col-xs-12 col-md-4 panel-tight-section"><label>Status</label></div>
                <div class="col-xs-12 col-md-8 panel-tight-section"> 
                    <span ng-if="event.status == 'queued'"><i class="icon fa fa-check-circle text-success"></i> <span translate>Queued</span></span>
                    <span ng-if="event.status == 'delivered'"><i class="icon fa fa-clock-o text-pa-purple"></i> <span translate>Delivered</span></span>
                    <span ng-if="event.status == 'retry'"><i class="icon fa fa-undo text-warning"></i> <span translate>Retry</span></span>
                    <span ng-if="event.status == 'failed'"><i class="icon fa fa-times-circle text-danger"></i> <span translate>Failed</span></span>
                 </div>
            </div>
             <div class="col-xs-12 col-sm-6 panel-tight-row">
                <div class="col-xs-12 col-md-4 panel-tight-section"><label>Type</label></div>
                <div class="col-xs-12 col-md-8 panel-tight-section">{{event.type}}</div>
            </div>
             <div class="col-xs-12 col-sm-6 panel-tight-row">
                <div class="col-xs-12 col-md-4 panel-tight-section"><label>Created</label></div>
                <div class="col-xs-12 col-md-8 panel-tight-section">{{event.date_created | date:'short'}}</div>
            </div>

            <div class="col-xs-12 col-sm-6 panel-tight-row">
                <div class="col-xs-12 col-md-4 panel-tight-section"><label>Modified</label></div>
                <div class="col-xs-12 col-md-8 panel-tight-section">{{event.date_modified | date:'short'}}</div>
            </div>
            <div class="col-xs-12 col-sm-6 panel-tight-row">
                <div class="col-xs-12 col-md-4 panel-tight-section"><label>Fingerprint</label></div>
                <div class="col-xs-12 col-md-8 panel-tight-section">{{event.fingerprint}}</div>
            </div>
            <div class="col-xs-12">
                <a href="/#/event_subscription/{{event.event_subscription.event_subscription_id}}/edit">Subscription</a><br/>
            </div>
            <div class="row"></div>
            
             <div class="col-xs-12">
                 <div class="col-xs-12 panel-tight-section"><label>Data </label></div>
                 <div class="col-xs-12 panel-tight-section"><textarea class="form-control">{{event.data}}</textarea></div>
            </div>
             <div class="row"></div>
            <div class="col-xs-12" ng-show="event.status === 'failed' || event.status === 'retry' ">
                <div class="col-xs-12 panel-tight-section"><button class="btn btn-info btn-xs" transaction-debug url="event.debug">Debug</button></div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-right btn-margin-left" ng-click="retryEvent()" translate>Resend</button>
            </div>

        </div>
</div>