<div ng-controller="EventViewCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header">
        <h1 translate>Event {{event.event_id}}</h1>
    </div>

    <div class="panel panel-body light-shadow">
        <div class="col-xs-12 col-sm-6 panel-tight-row">
            <div class="col-xs-12 col-md-4 panel-tight-section"><label>Type</label></div>
            <div class="col-xs-12 col-md-8 panel-tight-section">{{event.type}}</div>
        </div>
        <div class="col-xs-12 col-sm-6 panel-tight-row">
            <div class="col-xs-12 col-md-4 panel-tight-section"><label>Status</label></div>
            <div class="col-xs-12 col-md-8 panel-tight-section">
                <span ng-if="event.status == 'queued'"><i class="icon fa fa-clock-o text-pa-purple"></i> <span translate>Queued</span></span>
                <span ng-if="event.status == 'delivered'"><i class="icon fa fa-check-circle text-success"></i> <span translate>Delivered</span></span>
                <span ng-if="event.status == 'retry'"><i class="icon fa fa-flip-horizontal fa-undo text-warning"></i> <span translate>Retry</span></span>
                <span ng-if="event.status == 'failed'"><i class="icon fa fa-times-circle text-danger"></i> <span translate>Failed</span></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 panel-tight-row">
            <div class="col-xs-12 col-md-4 panel-tight-section"><label>Created</label></div>
            <div class="col-xs-12 col-md-8 panel-tight-section">{{event.date_created | date:'short'}}</div>
        </div>
        <div class="col-xs-12 col-sm-6 panel-tight-row">
            <div class="col-xs-12 col-md-4 panel-tight-section"><label>Modified</label></div>
            <div class="col-xs-12 col-md-8 panel-tight-section">{{event.date_modified | date:'short'}}</div>
        </div>
        <div class="col-xs-12 col-sm-6 panel-tight-row">
            <div class="col-xs-12 col-md-4 panel-tight-section"><label>Fingerprint</label></div>
            <div class="col-xs-12 col-md-8 panel-tight-section">{{event.fingerprint}}</div>
        </div>
        <div class="col-xs-12 col-sm-6 panel-tight-row">
            <div class="col-xs-12 col-md-4 panel-tight-section"><label>Subscription ID</label></div>
            <div class="col-xs-12 col-md-8 panel-tight-section"><a href="/#/event_subscriptions/{{event.event_subscription.event_subscription_id}}/edit">{{event.event_subscription.event_subscription_id}}</a></div>
        </div>
        <div class="col-xs-12 panel-tight-row">
            <button type="button" class="btn btn-success btn-xs" ng-if="event.status == 'delivered'" ng-click="retryEvent()" translate>Resend Event</button>
            <button type="button" class="btn btn-success btn-xs" ng-if="event.status != 'delivered'" ng-click="retryEvent()" translate>Retry Now</button>
        </div>

        <div class="row"></div>

        <div ng-if="event.status == 'failed' || event.status == 'retry'">
            <div class="col-xs-12 col-sm-6 panel-tight-row">
                <div class="col-xs-12 panel-tight-section"><label>Last Delivery Attempt</label></div>
                <div class="col-xs-12 panel-tight-section">{{event.date_last_delivery_attempt | date:'short'}}</div>
            </div>
            <div class="col-xs-12 col-sm-6 panel-tight-row">
                <div class="col-xs-12 panel-tight-section"><label>Next Delivery Attempt</label> (approximate)</div>
                <div class="col-xs-12 panel-tight-section">{{event.date_next_delivery_attempt | date:'short'}}</div>
            </div>

            <div class="col-xs-12 panel-tight-row">
                <div class="col-xs-12 panel-tight-section">
                    <label>Latest Failure Response</label>
                </div>
                <div class="col-xs-12 panel-tight-section"><pre>{{event.debug}}</pre></div>
            </div>
        </div>

        <div class="col-xs-12 panel-tight-row">
            <div class="col-xs-12 panel-tight-section">
                <label>Data</label>
                <a class="pull-right pointer" ng-show="!options.raw" ng-click="options.raw = true" translate>Show Raw</a>
                <a class="pull-right pointer" ng-show="options.raw" ng-click="options.raw = false" translate>Show Formatted</a>
            </div>
            <div class="col-xs-12 panel-tight-section" ng-show="options.raw"><pre>{{event.data}}</pre></div>
            <div meta-to-html="{{event.data}}" ng-show="!options.raw"></div>
        </div>

    </div>
</div>