<?xml version="1.0" encoding="UTF-8"?>
<!-- This is used in local development only when using IIS. This emulates the route splitting that is done by CloudFront in the hosted environment. This is not used in staging or production. -->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Set Header for Development">
                    <match url="api/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <serverVariables>
                        <set name="HTTP_X_COMECERO_API_HOST" value="admin-dev.comecero.com" />
                    </serverVariables>
                    <action type="None" />
                </rule>
                <rule name="Rewrite API Requests" stopProcessing="true">
                    <match url="api/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://api-dev.comecero.com/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
