<?xml version="1.0" encoding="UTF-8"?>
<!-- This is used in local development only when using IIS. This emulates the route splitting that is done by CloudFront in the hosted environment -->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite API Requests" stopProcessing="true">
                    <match url="api/(.*)" />
                    <action type="Rewrite" url="https://api.comecero.com/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
