<div ng-controller="TaxSettingsCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header">
        <h1>Tax Settings</h1>
    </div>

    <form name="form" novalidate>

        <div class="panel panel-body light-shadow">

            <div class="col-xs-12">
                <div class="form-group spacer-b10" show-errors>
                    <label for="tax_inclusive_countries" class="control-label " translate>Tax Inclusive Countries</label>
                    <input type="text" class="form-control" name="tax_inclusive_countries" ng-model="typeahead.tax_inclusive_countries" uib-typeahead="country as country.name + ' (' + country.code + ')' for country in countries | filter:$viewValue | limitTo:12" typeahead-input-formatter="$model.name" typeahead-on-select="onTaxInclusiveCountrySelect($item, $model, $label)" typeahead-editable="false">
                    <p class="help-block fadeInDown" ng-show="(form.tax_inclusive_countries.$touched || form.$submitted)" translate>Please add a valid country</p>
                    <div>
                        <p class="help-text" translate>INSERT HELP TEXT HERE</p>
                    </div>
                </div>
            </div>


            <div class="col-xs-12">
                <div class="form-group spacer-b10" show-errors>
                    <label for="gross_discount_countries" class="control-label " translate>Gross Discount Countries</label>
                    <input type="text" class="form-control" name="tax_inclusive_countries" ng-model="typeahead.gross_discount_countries" uib-typeahead="country as country.name + ' (' + country.code + ')' for country in countries | filter:$viewValue | limitTo:12" typeahead-input-formatter="$model.name" typeahead-on-select="onGrossDiscountCountrySelect($item, $model, $label)" typeahead-editable="false" >
                    <p class="help-block fadeInDown" ng-show="(form.gross_discount_countries.$touched || form.$submitted)" translate>Please add a valid country</p>
                    <div>
                        <p class="help-text" translate>INSERT HELP TEXT HERE</p>
                    </div>
                </div>
            </div>
            
            <div class="row"></div>
            
            <div class="col-xs-12">
                <div class="form-group spacer-b10">
                    <h2 translate>Rules</h2>
                    <button type="button" class="btn btn-primary btn-right" name="add_new_rule" ng-click="addNewRule()">Add New Rule</button>
                </div>
            </div>

            
            <div class="col-xs-12" ng-repeat="rule in settings.rules">
                <div>
                    <strong>Rule {{$index + 1}}</strong>
                    <hr/>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group spacer-b10" show-errors>
                        <label for="rule_country_{{$index}}" class="control-label " translate>Country</label>
                        <input type="text" class="form-control" name="rule_country_{{$index}}" ng-model="rule._country" uib-typeahead="country as country.name + ' (' + country.code + ')' for country in countries | filter:$viewValue | limitTo:12" typeahead-input-formatter="$model.name" typeahead-on-select="$parent.setCountryCode($item, $model, $label, rule)" typeahead-editable="false">
                        <p class="help-block fadeInDown" ng-show="(form.rule_country_{{$index}}.$touched || form.$submitted)" translate>Please add a valid country</p>
                        <div>
                            <p class="help-text" translate>INSERT HELP TEXT HERE</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                     <div class="form-group" show-errors ng-show="rule.country === 'US' || rule.country === 'CA'">
                        <label for="rule_state_prov_{{$index}}" class="control-label" translate>State</label>
                        <input type="text" class="form-control" name="rule_state_prov_{{$index}}" ng-model="rule.state_prov" required>
                        <p class="help-block hidden fadeInDown" translate>Please provide a valid state.</p>
                        <div>
                            <p class="help-text" translate>INSERT HELP TEXT HERE.</p>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group" show-errors ng-show="rule.country === 'US'">
                        <label for="location_postal_code_{{$index}}" class="control-label" translate>Postal Code</label>
                        <input type="text" class="form-control" name="location_postal_code_{{$index}}" ng-model="rule.location_postal_code" >
                        <p class="help-block hidden fadeInDown" translate>Please provide a valid postal code</p>
                        <div>
                            <p class="help-text" translate>INSERT HELP TEXT HERE.</p>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group" show-errors>
                        <label class="radio-group-label" translate>Tax Rate</label>
                        <div class="radio-group ">
                            <input type="radio" id="tax_rate_{{$index}}-1" class="radio" name="tax_rate_{{$index}}" ng-model="rule._rate" ng-value="" >
                            <label for="tax_rate_{{$index}}-1" class="radio-label">Automatically determine rate</label>
                            <input type="radio" id="tax_rate_{{$index}}-2" class="radio" name="tax_rate_{{$index}}" ng-model="rule._rate" ng-value="true" >
                            <label for="tax_rate_{{$index}}-2" class="radio-label">Use a rate I specify</label>
                            <input type="text" class="form-control" name="payment_retry_delay" ng-model="rule.rate" ng-show="rule._rate">
                        </div>
                        <div>
                            <p class="help-text" translate>INSERT HELP TEXT HERE.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                     <div class="form-group" show-errors>
                        <label for="tax_code_{{$index}}" class="control-label" translate>Tax Code</label>
                        <input type="text" class="form-control" name="tax_code_{{$index}}" ng-model="rule.tax_code">
                        <p class="help-block hidden fadeInDown" translate>Please provide a valid tax code.</p>
                        <div>
                            <p class="help-text" translate>INSERT HELP TEXT HERE.</p>
                        </div>
                    </div>
                 </div>
                <div>
                    <button type="button" class="btn btn-danger btn-right" name="delete_rule_{{$index}}" ng-click="$parent.deleteRule(rule, $index)">Delete Rule</button>
                </div>
                <div class="row"></div>
                
            </div>     
            

            <div class="row"></div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-right btn-margin-left" ng-click="updateSettings()" validate-on-submit translate>Save Changes</button>
                    <button type="submit" class="btn btn-default btn-right btn-margin-left" ng-click="confirmCancel()" translate>Cancel</button>
                </div>
            </div>

        </div>
    </form>
</div>