<div ng-controller="InvoicesSetCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header">
        <h1 ng-show="invoice.invoice_id" translate>Invoice Details</h1>
        <h1 ng-show="!invoice.invoice_id" translate>Create an Invoice</h1>
    </div>

    <form name="form" novalidate>
        <div class="panel light-shadow">

            <div class="panel-heading" ng-show="invoice.payment_status">
                <span class="panel-title text-bg text-bold">{{invoice.invoice_id}}</span>
                <div class="panel-heading-controls">
                    <span class="badge badge-warning" ng-if="invoice.payment_status == 'unpaid'"><i class="fa fa-minus-circle"></i>&nbsp;<span translate>Unpaid</span></span>
                    <span class="badge badge-success" ng-if="invoice.payment_status == 'completed'"><i class="fa fa-check-circle"></i>&nbsp;<span translate>Completed</span></span>
                    <span class="badge badge-primary" ng-if="invoice.payment_status == 'scheduled'"><i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp;<span translate>Scheduled</span></span>
                    <span class="badge badge-pa-purple" ng-if="invoice.payment_status == 'pending'"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span translate>Pending</span></span>
                    <span class="badge badge-warning" ng-if="invoice.payment_status == 'refunded'"><i class="fa fa-undo"></i>&nbsp;&nbsp;<span translate>Refunded</span></span>
                    <span class="badge badge-danger" ng-if="invoice.payment_status == 'failed'"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;<span translate>Failed</span></span>
                    <span class="badge badge-danger" ng-if="invoice.payment_status == 'cancelled'"><i class="fa fa-ban"></i>&nbsp;&nbsp;<span translate>Cancelled</span></span>
                    <span class="badge badge-primary" ng-if="invoice.payment_status == 'initiated'"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;<span translate>Initiated</span></span>
                    <span class="badge badge-warning" ng-if="invoice.payment_status == 'retry'"><i class="fa fa-undo fa-flip-horizontal"></i>&nbsp;&nbsp;<span translate>Retry</span></span>
                </div>
            </div>

            <div class="col-xs-12" ng-if="invoice.draft">
                <div class="alert alert-info spacer-t20 text-center">
                    <div>
                        <i class="icon fa fa-info-circle"></i><span translate><span class="ng-scope">This invoice is currently saved as a draft</span></span>
                    </div>
                    <div class="spacer-t5"><span class="text-sm"><i>When you publish an invoice, it will be made available for payment and will be sent to the customer according to your notification settings.</i></span></div>
                    <div class="spacer-t10"><button class="btn btn-default" ng-click="publish()" translate>Publish Invoice</button></div>
                </div>
            </div>

            <div class="col-xs-12" ng-if="invoice.subscription">
                <div class="alert alert-info spacer-t20 text-center">
                    <div>
                        <i class="icon fa fa-refresh"></i><span translate><span class="ng-scope">This invoice was generated by subscription <a ng-href="/#/subscriptions/{{invoice.subscription.subscription_id}}">{{invoice.subscription.subscription_id}}</a></span></span>
                    </div>
                </div>
            </div>

            <div class="panel-body">

                <div class="row">

                    <div class="col-xs-12 col-md-4" ng-if="add">
                        <div class="form-group" show-errors>
                            <label for="invoice_id" class="control-label" translate>Invoice ID</label>
                            <input type="text" class="form-control" name="invoice_id" ng-model="invoice.invoice_id">
                            <div>
                                <p class="help-text" translate>Leave blank and we'll create one automatically</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4" ng-if="update">
                        <div class="form-group">
                            <label class="control-label" translate>Invoice ID</label>
                            <div class="highlight-value">{{invoice.invoice_id}}</div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group" ng-if="add || invoice.payment_status == 'unpaid'" show-errors>
                            <label class="control-label" translate>Payment Currency</label>
                            <select class="form-control" name="currency" ng-model="invoice.currency" ng-options="currency.code as currency.code + ' - ' + currency.name for currency in currencies" ng-change="backgroundUpdate()" required></select>
                            <p class="help-block hidden fadeInDown" translate>Please select a currency</p>
                            <div>
                                <p class="help-text" translate>The customer can change the payment currency at the time of payment</p>
                            </div>
                        </div>
                        <div class="form-group" ng-if="!add && invoice.payment_status != 'unpaid'">
                            <label class="control-label" translate>Payment Currency</label>
                            <div>{{invoice.currency}}</div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group" ng-show="(add || invoice.open == true) && invoice.subscription == null" show-errors="mild">
                            <label class="control-label">Date Due</label>
                            <div class="input-group dp">
                                <input type="text" name="date_due" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="invoice.date_due" is-open="datepicker.status.date_due.opened" datepicker-options="datepicker.options" close-text="Close" required />
                                <span class="input-group-addon pointer" ng-click="datepicker.open($event, 'date_due')"><i class="fa fa-calendar"></i></span>
                                <p class="help-block hidden fadeInDown" translate>Please select a date</p>
                            </div>
                        </div>
                        <div class="form-group" ng-if="(!add && invoice.open == false) || invoice.subscription != null">
                            <label class="control-label">Date Due</label>
                            <div>{{invoice.date_due | date: 'short'}}</div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel no-heading" ng-show="update">
                            <div class="panel-body panel-embed text-sm">
                                <div class="col-xs-12 col-md-6">
                                    <div><span translate>Created:</span> <strong>{{invoice.date_created | date:'short'}}</strong></div>
                                </div>

                                <div class="col-xs-12 col-md-6 spacer-b10">
                                    <div><span translate>Updated:</span> <strong>{{invoice.date_modified | date:'short'}}</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" ng-show="!invoice.customer">
                        <div class="form-group">
                            <a class="btn btn-info" customer-select customer="invoice.customer" on-select="functions.onCustomerSet" translate>Add Customer</a>
                        </div>
                    </div>
                </div>

                <div ng-show="invoice.customer">
                    <div customer-edit="invoice.customer" invoice="invoice" error="exception.error"></div>
                    <p class="text-right spacer-b20" style="margin-top:-25px;" ng-show="add || invoice.payment_status == 'unpaid' && invoice.draft !== false">
                        <a class="btn btn-danger btn-xs spacer-t10" ng-click="removeCustomer()" translate>Remove</a>
                        <a class="btn btn-primary btn-xs spacer-t10" customer-select customer="invoice.customer" on-select="functions.onCustomerSet" translate>Change</a>
                    </p>
                </div>

                <div class="row"></div>

                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title" translate>Items</span>
                        <div class="panel-heading-controls">
                            <span class="badge badge-danger">{{invoice.items.length}}</span>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="gridtable">

                            <div class="gridtable-header hidden-xs">
                                <div class="col-sm-2"><label translate>ID</label></div>
                                <div class="col-sm-3"><label translate>Name</label></div>
                                <div class="col-sm-2 text-right"><label translate>Quantity</label></div>
                                <div class="col-sm-2 text-right"><label translate>Price</label>&nbsp;<small>({{invoice.currency}})</small></div>
                                <div class="col-sm-1 text-right"><label translate>Tax</label></div>
                                <div class="col-sm-2 text-right"><label translate>Total</label></div>
                            </div>

                            <div class="row spacer-b10 hidden-sm hidden-md hidden-lg"></div> <!--Needed to have the buttons clear-->

                            <div class="gridtable-row wide-md" ng-repeat="item in invoice.items">
                                <div class="col-xs-12 col-sm-2 wide-md">
                                    <div class="col-xs-5 hidden-sm hidden-md hidden-lg lbl"><label translate>ID</label></div>
                                    <div class="col-xs-7 col-sm-12 col-md-12 text-right-xs value">{{item.item_id}}</div>
                                </div>

                                <div class="col-xs-12 col-sm-3 wide-md">
                                    <div class="col-xs-5 hidden-sm hidden-md hidden-lg lbl"><label translate>Item</label></div>
                                    <div class="col-xs-7 col-sm-12 col-md-12 text-right-xs value">
                                        <a ng-if="item.product_id" href="/#/products/{{item.product_id}}/edit">{{item.name}}</a><span ng-if="!item.product_id">{{item.name}}</span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-2 wide-md">
                                    <div class="col-xs-5 hidden-sm hidden-md hidden-lg lbl"><label translate>Quantity</label></div>
                                    <div class="col-xs-7 col-sm-12 text-right value">
                                        <input ng-show="add || invoice.payment_status == 'unpaid'" type="tel" class="form-control text-right" ng-model="item.quantity" ng-change="editItemQuantity(item, '{{item.quantity}}')" />
                                        <span ng-show="!add && invoice.payment_status != 'unpaid'">{{item.quantity}}</span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-2 wide-md" ng-show="!itemPriceEdits[item.item_id]">
                                    <div class="col-xs-5 hidden-sm hidden-md hidden-lg lbl"><label translate>Price</label></div>
                                    <div class="col-xs-7 col-sm-12 text-right value"><span class="strikethrough" ng-if="item.price_original != item.price">{{item.formatted.price_original}}</span>&nbsp;{{item.formatted.price}}&nbsp;<i class="fa fa-edit text-info pointer" ng-click="editItemPrice(item)" ng-if="invoice.payment_status == 'unpaid'"></i></div>
                                </div>

                                <div class="col-xs-12 col-sm-1 wide-md" ng-show="!itemPriceEdits[item.item_id]">
                                    <div class="col-xs-5 hidden-sm hidden-md hidden-lg lbl"><label translate>Tax</label></div>
                                    <div class="col-xs-7 col-sm-12 text-right value">{{item.formatted.tax}}</div>
                                </div>

                                <div class="col-xs-12 col-sm-2 wide-md" ng-show="!itemPriceEdits[item.item_id]">
                                    <div class="col-xs-5 hidden-sm hidden-md hidden-lg lbl"><label translate>Total</label></div>
                                    <div class="col-xs-7 col-sm-12 text-right value">{{item.formatted.total}}</div>
                                </div>

                                <div class="col-xs-12 col-sm-2 wide-md" ng-show="itemPriceEdits[item.item_id]">
                                    <div class="col-xs-5 hidden-sm hidden-md hidden-lg lbl"><label translate>Price</label></div>
                                    <div class="col-xs-7 col-sm-12 text-right value"><input type="text" class="form-control text-right" ng-model="item.reference_price" /></div>
                                </div>

                                <div class="col-xs-12 col-sm-3 wide-md" ng-show="itemPriceEdits[item.item_id]">
                                    <div class="col-xs-5 hidden-sm hidden-md hidden-lg lbl"><label translate>Currency</label></div>
                                    <div class="col-xs-7 col-sm-12 text-right value"><select class="form-control" name="currency" ng-model="item.reference_currency" ng-options="currency.code as currency.code + ' - ' + currency.name for currency in currencies"></select></div>
                                </div>

                                <div class="col-xs-12 text-sm" ng-show="item.subscription_terms.description"><em>{{item.subscription_terms.description}}</em></div>

                            </div>

                            <div class="col-sm-12" ng-show="invoice.items.length == 0">
                                <p class="no-info" style="margin-bottom:5px;" translate>This invoice has no items</p>
                            </div>

                            <div class="row"></div> <!--Needed to have the buttons clear-->

                            <div class="gridtable-row wide-md no-hover no-border">
                                <p class="text-right" ng-if="itemEdits">
                                    <a class="btn btn-default btn-sm spacer-t10" ng-click="cancelItemsEdit(invoice.items)" translate>Cancel</a>
                                    <a class="btn btn-primary btn-sm spacer-t10" ng-click="applyItemEdits()" translate>Apply Changes</a>
                                </p>
                            </div>

                            <div class="row"></div> <!--Needed to have the buttons clear-->

                            <div class="gridtable-row wide-md no-hover no-border" ng-show="add || invoice.payment_status == 'unpaid'">
                                <div class="form-group">
                                    <a class="btn btn-info" invoice-item-select="invoice" parameters="params" error="exception.error" translate>Add Item</a>
                                </div>
                            </div>

                            <div class="gridtable-row wide-md no-hover no-border" ng-if="invoice.options.shipping_quotes.length > 1 && (invoice.open || add)">
                                <div class="col-xs-12"><label translate>Shipping Method</label></div>
                                <div class="radio-group spacer-t20" ng-repeat="method in invoice.options.shipping_quotes">
                                    <div class="col-xs-12 col-md-8 padding-t15">
                                        <input type="radio" id="shipping-method-{{method.method_id}}" class="radio" name="shippimg-method" ng-checked="invoice.shipping_item.item_id == method.method_id" ng-click="setShipping(method.method_id)">
                                        <label for="shipping-method-{{method.method_id}}" class="radio-label">{{method.description}}</label>&nbsp;<span class="radio-group-description" ng-if="method.details">{{method.details}}</span>
                                    </div>
                                    <div class="col-xs-12 col-md-4 padding-t15 text-right">{{method.formatted.price}}</div>
                                </div>
                                <div class="row" style="padding:0"></div>
                                <hr class="spacer-t5" />
                            </div>

                            <div class="gridtable-row wide-md no-hover no-border" ng-show="invoice.items.length > 0">

                                <div class="col-xs-12 wide-md tight">
                                    <div class="col-xs-5 col-sm-9 text-right-sm text-right-md text-right-lg lbl"><label translate>Subtotal</label></div>
                                    <div class="col-xs-7 col-sm-3 text-right value">{{invoice.formatted.subtotal_original}}</div>
                                </div>

                                <div class="col-xs-12 wide-md tight">
                                    <div class="col-xs-5 col-sm-9 text-right-sm text-right-md text-right-lg lbl"><label translate>Shipping</label></div>
                                    <div class="col-xs-7 col-sm-3 text-right value">{{invoice.formatted.shipping}}</div>
                                </div>

                                <div class="col-xs-12 wide-md tight">
                                    <div class="col-xs-5 col-sm-9 text-right-sm text-right-md text-right-lg lbl"><label translate>Discount</label></div>
                                    <div class="col-xs-7 col-sm-3 text-right value">{{invoice.formatted.discount}}</div>
                                </div>

                                <div class="col-xs-12 wide-md tight">
                                    <div class="col-xs-5 col-sm-9 text-right-sm text-right-md text-right-lg lbl"><label translate>Tax</label></div>
                                    <div class="col-xs-7 col-sm-3 text-right value">{{invoice.formatted.tax}}</div>
                                </div>

                                <div class="col-xs-12 wide-md tight">
                                    <div class="col-xs-5 col-sm-9 text-right-sm text-right-md text-right-lg text-bg lbl"><label translate>Total</label></div>
                                    <div class="col-xs-7 col-sm-3 text-right text-bg text-bold text-success value">{{invoice.formatted.total}}&nbsp;{{invoice.currency}}</div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row"></div>

                <div class="col-xs-12" ng-show="invoice.customer.payment_methods.data.length > 0 && invoice.open">
                    <div class="form-group" show-errors>
                        <label class="radio-group-label" translate>Auto Pay</label>
                        <div class="radio-group inline">
                            <input type="radio" id="autopay-1" class="radio" name="autopay" ng-model="invoice.autopay" ng-value="true" required>
                            <label for="autopay-1" class="radio-label">Yes</label>
                            <input type="radio" id="autopay-2" class="radio" name="autopay" ng-model="invoice.autopay" ng-value="false" required>
                            <label for="autopay-2" class="radio-label">No</label>
                        </div>
                        <div>
                            <p class="help-text" translate>If enabled, this invoice will be automatically paid with the customer's default payment method on the due date.</p>
                        </div>
                    </div>
                </div>

                <div class="row"></div>

                <div class="panel" ng-if="!add && invoice.payment_status != 'unpaid'">
                    <div class="panel-heading">
                        <span class="panel-title" translate>Payments</span>
                        <div class="panel-heading-controls">
                            <span class="badge badge-danger">{{count.payments}}</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div object-list type="payment" url="{{resources.paymentListUrl}}" template-url="app/templates/paymentList.html" embedded="true" page="offset" limit="5" search="false" error="exception.error" count="count.payments" refresh="functions.refresh"></div>
                    </div>
                </div>

                <div class="panel" ng-if="!add && invoice.payment_status != 'unpaid'">
                    <div class="panel-heading">
                        <span class="panel-title" translate>Refunds</span>
                    </div>
                    <div class="panel-body">
                        <div object-list type="refund" url="{{resources.refundListUrl}}" template-url="app/templates/refundList.html" embedded="true" page="offset" limit="5" search="false" error="exception.error" count="count.refunds" refresh-on-change="order.payment.refunds.data"></div>
                    </div>
                </div>

                <div class="panel" ng-if="!add">
                    <div class="panel-heading">
                        <span class="panel-title" translate>Notifications</span>
                        <div class="panel-heading-controls">
                            <span class="badge badge-danger">{{count.notifications}}</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div object-list type="notification" url="{{resources.notificationListUrl}}" template-url="app/templates/notificationList.html" embedded="true" page="offset" limit="5" search="false" error="exception.error" count="count.notifications"></div>
                    </div>
                </div>

                <div meta-to-html="{{invoice.meta}}"></div>

                <div class="col-xs-12" ng-show="invoice.draft">
                    <div class="form-group" show-errors>
                        <label class="radio-group-label" translate>Publish</label>
                        <div class="radio-group inline">
                            <input type="radio" id="draft-1" class="radio" name="draft" ng-model="draft" ng-value="false" required>
                            <label for="draft-1" class="radio-label">Yes</label>
                            <input type="radio" id="draft-2" class="radio" name="draft" ng-model="draft" ng-value="true" required>
                            <label for="draft-2" class="radio-label">No</label>
                        </div>
                        <div>
                            <p class="help-text" translate>When you publish an invoice, it becomes eligible to receive payment.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12" ng-show="invoice.draft && draft == false">
                    <div class="form-group" show-errors>
                        <label class="radio-group-label" translate>Send a copy to the customer?</label>
                        <div class="radio-group inline">
                            <input type="radio" id="suppress-1" class="radio" name="suppress" ng-model="suppress_customer_notification" ng-value="false" required>
                            <label for="suppress-1" class="radio-label">Yes</label>
                            <input type="radio" id="suppress-2" class="radio" name="suppress" ng-model="suppress_customer_notification" ng-value="true" required>
                            <label for="suppress-2" class="radio-label">No</label>
                        </div>
                        <div>
                            <p class="help-text" translate>Indicates if you want to send a copy of the invoice to the customer when you publish it.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" ng-show="!invoice.draft && invoice.open">
                    <div class="form-group">
                        <a class="btn btn-success" ng-click="send()"><i class="fa fa-envelope"></i> Send Invoice to Customer</a>
                        <div>
                            <p class="help-text" translate>The invoice is automatically sent to the customer when it is first published. This allows you to re-send the invoice, as necessary.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" ng-show="!invoice.draft">
                    <div class="form-group">
                        <span class="btn btn-purple btn spacer-t5" ng-click="getInvoiceLink()"><i class="fa fa-link"></i> <span translate>Generate Invoice Link</span></span>
                        <div>
                            <p class="help-text" translate>Get a link that can be used to access the invoice to make payment.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" ng-show="link">
                    <div class="form-group">
                        <label class="control-label" translate>Invoice Link</label>
                        <input type="text" class="form-control" ng-model="link" select-on-click />
                        <div>
                            <p class="help-text" translate>For security purposes, this link becomes bound to the device that first accesses it. Do not load or access the link if you intend to send to someone.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" ng-show="!invoice.draft">
                    <div class="form-group">
                        <span class="btn btn-info btn spacer-t5" ng-click="downloadPdf()"><i class="fa fa-download"></i> <span translate>Download Invoice PDF</span></span>
                    </div>
                </div>

                <div class="form-group" ng-if="add || invoice.open == true">
                    <button type="submit" class="btn btn-primary btn-right btn-margin-left" ng-click="save()" validate-on-submit translate>Save Changes</button>
                    <button type="submit" class="btn btn-default btn-right btn-margin-left" ng-click="confirmCancel()" translate>Cancel</button>
                </div>

                <div class="col-xs-12">
                    <span class="btn btn-danger btn spacer-t5" void payment="successful_payment" error="exception.error" ng-if="!invoice.hideCapture" translate>Cancel Payment</span>
                    <span class="btn btn-success btn spacer-t5" capture payment="successful_payment" items="invoice.items" shipping-item="invoice.shipping_item" error="exception.error" ng-show="!invoice.hideCapture" translate>Capture Payment</span>
                </div>

                <div class="row"></div>

                <div ng-if="update" class="panel-footer submenu" resource="products" method="delete">
                    <span class="delete" ng-click="confirmDelete()" ng-if="invoice.open && !invoice.subscription" translate>Delete this invoice</span>
                </div>

            </div>
        </div>
    </form>

</div>


