<div ng-controller="GettingStartedViewCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header">
        <h1>Getting Started</h1>
    </div>

        <div class="col-md-6 col-xs-12">
            <div class="panel panel-profile panel-success">
                <div class="panel-heading">
                    <div class="widget-profile-header" >
                        <a href="#/payments/add" ng-click="onNavigate()"><i class="fa fa-credit-card fa-3"></i>&nbsp;</a><br />
                        <a href="#/payments/add" ng-click="onNavigate()"><span translate>Virtual Terminal</span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="widget-profile-text" style="padding: 0;">
                        <span translate>Payments for new or existing customers</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="panel panel-profile panel-info">
                <div class="panel-heading">
                    <div class="widget-profile-header">
                        <a href="#/invoices/add"  ng-click="onNavigate()"><i class="fa fa-file-text-o fa-3"></i>&nbsp;</a><br />
                        <a href="#/invoices/add"  ng-click="onNavigate()"><span translate>Create Invoice</span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="widget-profile-text" style="padding: 0;">
                        <span translate>Create and email an invoice for easy payment</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="panel panel-profile panel-purple">
                    <div class="panel-heading">
                        <div class="widget-profile-header">
                            <a href="#/settings/general"  ng-click="onNavigate()"><i class="fa fa-sliders fa-3"></i>&nbsp;</a><br />
                            <a href="#/settings/general"  ng-click="onNavigate()"><span translate>Configure Preferences</span></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="widget-profile-text" style="padding: 0;">
                            <span translate>Customize features to meet your needs</span>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-md-6 col-xs-12">
            <div class="panel panel-profile panel-warning">
                <div class="panel-heading">
                    <div class="widget-profile-header">
                        <a href="#/account/edit"  ng-click="onNavigate()"><i class="fa fa-user fa-3"></i>&nbsp;</a><br />
                        <a href="#/account/edit"  ng-click="onNavigate()"><span translate>Update your Profile</span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="widget-profile-text" style="padding: 0;">
                        <span translate>Tell us a bit more about you</span>
                    </div>
                </div>
            </div>
        </div>

</div>
