<div ng-controller="TemplatesSetCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header"> 
        <h1 ng-if="add" translate>Add a Template</h1>
        <h1 ng-if="update" translate>Template: {{template.template_id}}</h1>
    </div>
    <form name="form" novalidate>
        <div class="panel panel-body light-shadow">
            
            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="comments" class="control-label" translate>Description</label>
                    <input type="text" class="form-control" name="comments" ng-model="template.comments">
                    <div>
                        <p class="help-text" translate>For your use in identifying the template.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="body" class="control-label" translate>Body</label>
                    <textarea type="text" class="form-control big no-wrap" name="body" ng-model="template.body" required></textarea>
                    <p class="help-block hidden fadeInDown" translate>Please provide a template body.</p>
                    <div>
                        <p class="help-text" translate>The template body, which is generally HTML.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                 <div class="form-group" show-errors >
                    <label for="expand" class="control-label" translate>Expand</label>
                    <input type="text" class="form-control" name="expand" ng-model="template.expand">
                    <div>
                        <p class="help-text" translate>Templates are designed to receive a particular resource (such as an order or shipment). You can supply a comma separated list of child resources you wish to expand for use within your template. For example, if you are creating an order confirmation template, your template will receive the order object and you way wish to expand the customer resource.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                 <div class="form-group" show-errors >
                    <label for="show" class="control-label" translate>Show</label>
                    <input type="text" class="form-control" name="show" ng-model="template.show">
                    <div>
                        <p class="help-text" translate>To increase performance of template rendering, you can limit the fields that are supplied to your template to only the ones your template needs. <a href="https://docs.comecero.com/basic-concepts/#customizing-output" target="_blank">Read more</a> about customizing resources. If you supply a value for show, you cannot supply a value for hide.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                 <div class="form-group" show-errors >
                    <label for="hide" class="control-label" translate>Hide</label>
                    <input type="text" class="form-control" name="hide" ng-model="template.hide">
                    <div>
                        <p class="help-text" translate>To increase performance of template rendering, you can limit the fields that are supplied to your template to only the ones your template needs. <a href="https://docs.comecero.com/basic-concepts/#customizing-output" target="_blank">Read more</a> about customizing resources. If you supply a value for hide, you cannot supply a value for show.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                 <div class="form-group" show-errors >
                    <label for="wrapper_template" class="control-label" translate>Wrapper Template ID</label>
                    <input type="text" class="form-control" name="wrapper_template" ng-model="template.wrapper_template_id">
                    <div>
                        <p class="help-text" translate>If this template is designed to be wrapped by another template, enter the ID of the template.</p>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <button ng-if="add" type="submit" class="btn btn-primary btn-right btn-margin-left" ng-click="addTemplate()" validate-on-submit translate>Add the Template</button>
                <button ng-if="update" type="submit" class="btn btn-primary btn-right btn-margin-left" ng-click="updateTemplate()" validate-on-submit translate>Save Changes</button>
                <button ng-if="update" type="submit" class="btn btn-default btn-right btn-margin-left" ng-click="confirmCancel()" translate>Cancel</button>
            </div>

            <div class="row"></div>

            <div ng-if="update" class="panel-footer submenu" resource="products" method="delete">
                <span class="delete" ng-click="confirmDelete()" translate>Delete this template</span>
            </div>

        </div>
    </form>
</div>