<div ng-controller="AppInstallationsSettingsCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header">
        <h1>Configuration Settings:</span> {{app_installation.name}}</h1>
    </div>

    <form name="form" novalidate>
        <div class="panel panel-body light-shadow">

            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label class="control-label">App Installation ID</label>
                    <div class="row"></div>
                    <span class="text-sm">{{app_installation.app_installation_id}}</span>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label class="control-label">App ID</label>
                    <div class="row"></div>
                    <span class="text-sm">{{app_installation.app_id}}</span>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">App Location</label>
                    <div class="row"></div>
                        <span class="text-sm">{{app_host}}</span>
                        <input type="text" class="form-control" ng-model="app_installation.alias">
                    <p class="help-block" translate>Changes to this setting take 1-2 minutes to take effect</p>
                </div>
            </div>

            <div class="row"></div>

            <fields fieldlist="app_installation.settings_fields" selections="selections"></fields>

            <div class="col-xs-12" ng-show="app_installation.allow_custom_javascript">
                <div class="form-group" show-errors>
                    <label for="css" class="control-label" translate>Custom JavaScript</label>
                    <textarea class="form-control no-wrap" id="css" name="css" ng-model="app_installation.custom_javascript" placeholder="{{ 'Enter JavaScript' | translate}}"></textarea>
                    <p class="help-text" translate>
                        Custom JavaScript that you would like to load when your app runs.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-right btn-margin-left" ng-click="updateAppInstallation()" translate>Save and Close</button>
                    <button type="submit" class="btn btn-primary btn-right btn-margin-left" ng-click="updateAppInstallation(true)" translate>Apply</button>
                    <button type="submit" class="btn btn-default btn-right btn-margin-left" ng-click="confirmCancel()" translate>Cancel</button>
                </div>
            </div>

        </div>
    </form>
</div>