<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="capturePayment.cancel()">×</button>
        <h4 class="modal-title"><i class="fa fa-credit-card"></i> <span translate>Capture Payment</span></h4>
    </div>
    <div class="modal-body">
        <div class="callout callout-danger" ng-if="modalError">
            <h4 translate>Oops! We had a problem.</h4>
            <p>{{modalError.message}}</p>
            <span ng-show="modalError.reference">
                <br /><small>Error code: {{modalError.reference}}</small>
            </span>
        </div>
        <form name="form" novalidate>
            <uib-tabset>
                <uib-tab active="capturePaymentTabs[0].active" resource="files" method="create" select="capturePayment.clearTotal()" ng-if="showItemsTab">
                    <uib-tab-heading><i class="fa fa-tags"></i> <small translate>Items</small></uib-tab-heading>

                    <div class="gridtable">

                        <div class="gridtable-header hidden-xs hidden-sm">

                            <div class="col-md-2"><label translate>Quantity</label></div>
                            <div class="col-md-4"><label translate>Item</label></div>
                            <div class="col-md-2"><label translate>Ordered</label></div>
                            <div class="col-md-1"><label translate>Price</label></div>
                            <div class="col-md-1"><label translate>Tax</label></div>
                            <div class="col-md-2 text-right"><label translate>Subtotal</label>&nbsp;({{capturePayment.currency}})</div>

                        </div>

                        <div class="gridtable-row" ng-repeat="item in capturePayment.items">

                            <div class="col-xs-12 col-md-12 col-md-2">
                                <div class="col-xs-12 col-sm-12 hidden-md hidden-lg lbl"><label>Quantity</label></div>
                                <div class="col-xs-12 col-sm-12 col-md-12 value">
                                    <ng-form name="items" novalidate>
                                        <div class="form-group" ng-class="{ 'has-error': items.quantity.$invalid && (items.quantity.$dirty || form.$submitted) }">
                                            <div class="input-group">
                                                <span style="min-width:42px" class="input-group-addon text-info pointer" ng-if="!item.quantity" ng-click="item.quantity = item.order_quantity" title="{{ 'Load quantity' | translate}}"><i class="fa fa-arrow-right fadeIn"></i></span>
                                                <span style="min-width:42px" class="input-group-addon pointer text-success" ng-if="item.quantity && item.quantity == item.order_quantity" ng-click="item.quantity = null" title="{{ 'Click to reset' | translate}}"><i class="fa fa-check fadeIn"></i></span>
                                                <span style="min-width:42px" class="input-group-addon pointer text-warning" ng-if="item.quantity && item.quantity < item.order_quantity" ng-click="item.quantity = null" title="{{ 'Partial capture. Click to reset.' | translate}}"><i class="fa fa-check fadeIn"></i></span>
                                                <input style="max-width:100px;" type="tel" name="quantity" ng-model="item.quantity" ng-model-options="{ updateOn: 'blur' }" class="form-control" is-valid-integer allow-empty-value="true" less-than-or-equal="{{item.order_quantity}}">
                                            </div>
                                            <p class="help-block fadeInDown" ng-show="items.quantity.$invalid && (items.quantity.$dirty)" translate>Please enter a valid quantity</p>
                                        </div>
                                    </ng-form>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Item</label>({{capturePayment.currency}})></div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value"><span>{{item.name}}</span></div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Ordered</label></div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value"><span>{{item.order_quantity}}</span></div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-1">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Price</label></div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value"><span>{{item.price | currency: ""}}</span></div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-1">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Tax</label></div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value"><span>{{item.tax_rate * 100}}%</span></div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Subtotal</label>&nbsp;({{capturePayment.currency}})</div>
                                <div class="col-xs-7 col-sm-12 col-md-12 text-right-md text-right-lg value"><span>{{(capturePayment.getItemTotal(item.price, item.tax_rate, item.quantity)) | currency: ""}}</span></div>
                            </div>

                        </div>

                        <div class="gridtable-row" ng-if="capturePayment.shipping_item">

                            <div class="col-xs-12 col-md-12 col-md-2">
                                <div class="col-xs-12 col-sm-12 hidden-md hidden-lg lbl"><label>Quantity</label></div>
                                <div class="col-xs-12 col-sm-12 col-md-12 value">
                                    <div class="form-group" ng-class="{ 'has-error': form.shipping_quantity.$invalid && (form.shipping_quantity.$dirty || form.$submitted) }">
                                        <div class="input-group">
                                            <span style="min-width:42px" class="input-group-addon text-info pointer" ng-if="!capturePayment.shipping_quantity" ng-click="capturePayment.shipping_quantity = 1" title="{{ 'Load quantity' | translate}}"><i class="fa fa-arrow-right fadeIn"></i></span>
                                            <span style="min-width:42px" class="input-group-addon pointer text-success" ng-if="capturePayment.shipping_quantity && capturePayment.shipping_quantity == 1" ng-click="capturePayment.shipping_quantity = null" title="{{ 'Click to reset' | translate}}"><i class="fa fa-check fadeIn"></i></span>
                                            <span style="min-width:42px" class="input-group-addon pointer text-warning" ng-if="capturePayment.shipping_quantity && capturePayment.shipping_quantity < 1" ng-click="capturePayment.shipping_quantity = null" title="{{ 'Partial capture. Click to reset.' | translate}}"><i class="fa fa-check fadeIn"></i></span>
                                            <input style="max-width:100px;" type="tel" name="shipping_quantity" ng-model="capturePayment.shipping_quantity" ng-model-options="{ updateOn: 'blur' }" class="form-control" is-valid-integer allow-empty-value="true" less-than-or-equal="1">
                                        </div>
                                        <p class="help-block fadeInDown" ng-show="form.shipping_quantity.$invalid && (form.shipping_quantity.$dirty)" translate>Please enter a valid quantity</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Item</label({{capturePayment.currency}})></div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value"><span>{{capturePayment.shipping_item.name}}</span></div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Ordered</label></div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value"><span>1</span></div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-1">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Price</label></div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value"><span>{{capturePayment.shipping_item.price | currency: ""}}</span></div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-1">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Tax</label></div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value"><span>{{capturePayment.shipping_item.tax_rate * 100}}%</span></div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Subtotal</label>&nbsp;({{capturePayment.currency}})</div>
                                <div class="col-xs-7 col-sm-12 col-md-12 text-right-md text-right-lg value"><span>{{(capturePayment.getShippingTotal(capturePayment.shipping_quantity)) | currency: ""}}</span></div>
                            </div>

                        </div>

                    </div>

                    <div class="row"></div>

                    <div class="row spacer-t30">
                        <div class="col-sm-12 text-right text-bg"><span class="text-lg"><span translate>Total</span>: {{capturePayment.getItemsTotal(capturePayment.items, capturePayment.shipping_quantity) | currency: ""}}&nbsp;{{capturePayment.currency}}</span></div>
                    </div>

                </uib-tab>
                <uib-tab active="capturePaymentTabs[1].active" select="capturePayment.clearQuantities()">
                    <uib-tab-heading><i class="fa fa-dollar"></i> <small translate>Amount</small></uib-tab-heading>

                    <div class="gridtable">

                        <div class="gridtable-header hidden-xs hidden-sm">

                            <div class="col-md-4"><label translate>Amount</label></div>
                            <div class="col-md-2"><label translate>Subtotal</label></div>
                            <div class="col-md-2"><label translate>Shipping</label></div>
                            <div class="col-md-2"><label translate>Tax</label></div>
                            <div class="col-md-2 text-right"><label translate>Total</label>&nbsp;({{capturePayment.currency}})</div>

                        </div>

                        <div class="gridtable-row">

                            <div class="col-xs-12 col-md-12 col-md-4">
                                <div class="col-xs-12 col-sm-12 hidden-md hidden-lg lbl"><label>Amount</label></div>
                                <div class="col-xs-12 col-sm-12 col-md-12 value">
                                    <div class="form-group" ng-class="{ 'has-error': form.total.$invalid && (form.total.$dirty || form.$submitted) }">
                                        <div class="input-group">
                                            <span style="min-width:42px" class="input-group-addon text-info pointer" ng-if="!capturePayment.total" ng-click="capturePayment.total = loadTotal(capturePayment.original_total)" title="{{ 'Load total' | translate}}"><i class="fa fa-arrow-right fadeIn"></i></span>
                                            <span style="min-width:42px" class="input-group-addon pointer text-success" ng-if="capturePayment.total && capturePayment.total == capturePayment.original_total" ng-click="capturePayment.total = null" title="{{ 'Click to reset' | translate}}"><i class="fa fa-check fadeIn"></i></span>
                                            <span style="min-width:42px" class="input-group-addon pointer text-warning" ng-if="capturePayment.total && capturePayment.total < capturePayment.original_total" ng-click="capturePayment.total = null" title="{{ 'Partial capture. Click to reset.' | translate}}"><i class="fa fa-check fadeIn"></i></span>
                                            <input style="max-width:150px;" type="text" name="total" ng-model="capturePayment.total" ng-model-options="{ updateOn: 'blur' }" class="form-control" is-valid-price allow-empty-price="true" clean-price less-than-or-equal="{{capturePayment.original_total}}">
                                        </div>
                                        <p class="help-block fadeInDown" ng-show="form.total.$invalid && (form.total.$dirty)" translate>Please enter a valid amount</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Subtotal</label></div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value">{{capturePayment.getAmountSubtotal(capturePayment.total)  | currency: ""}}</div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Shipping</label></div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value">{{capturePayment.getAmountShipping(capturePayment.total)  | currency: ""}}</div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Tax</label></div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value">{{capturePayment.getAmountTax(capturePayment.total)  | currency: ""}}</div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-2">
                                <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label translate>Total</label>&nbsp;({{capturePayment.currency}})</div>
                                <div class="col-xs-7 col-sm-12 col-md-12 value last text-right-md text-right-lg text-bg">{{capturePayment.getAmountTotal(capturePayment.total)  | currency: ""}}</div>
                            </div>

                        </div>

                    </div>

                </uib-tab>
            </uib-tabset>
        </form>
    </div>

    <div class="row"></div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="capturePayment.cancel()">
            <span translate>Cancel</span>
        </button>
        <button type="button" class="btn btn-primary" ng-click="capturePayment.ok(form)">
            <span translate>Capture Payment</span>
        </button>
    </div>
</div>
