<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="imagesSelect.cancel()">×</button>
        <h4 class="modal-title"><span translate>Select Images</span></h4>
    </div>
    <div class="modal-body">
        <div class="callout callout-danger" ng-if="modalError">
            <h4 translate>Oops! We had a problem.</h4>
            <p>{{modalError.message}}</p>
            <span ng-show="modalError.reference">
                <br /><small>Error code: {{modalError.reference}}</small>
            </span>
        </div>
        <uib-tabset>
            <uib-tab active="imagesSelectTabs[0].active" resource="images" method="create">
                <uib-tab-heading><i class="fa fa-cloud-upload"></i> <small translate>New</small></uib-tab-heading>
                <form class="form-group dropzone" dropzone dropzone-url="/images" dropzone-max-files="{{imagesSelect.limit}}" dropzone-max-size="10000000" dropzone-auto-upload="true" dropzone-filetypes="jpg,jpeg,png,gif,ico" dropzone-image-url-name="link_square" dropzone-template-id="dz-images"></form>
            </uib-tab>
            <uib-tab active="imagesSelectTabs[1].active" class="text-center">
                <uib-tab-heading><i class="fa fa-files-o"></i> <small translate>Existing Images</small></uib-tab-heading>
                <div class="col-sm-12 text-right spacer-20">
                    <form class="form-inline">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" ng-model="imagesSelect.q" ng-change="imagesSelect.search()" ng-model-options="{ updateOn: 'default blur', debounce: { default: 750, blur: 0 } }" select-on-click placeholder="{{ 'Search' | translate }}...">
                            <span class="fa fa-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>

                <div class="gridtable">

                    <div class="gridtable-header hidden-xs hidden-sm">

                        <div class="col-md-1"></div>
                        <div class="col-md-3"><label>Preview</label></div>
                        <div class="col-md-4"><label ng-click="imagesSelect.sort('filename', !imagesSelect.params.desc)" class="pointer text-primary">Filename</label>&nbsp;<i class="icon fa fa-caret-down" ng-if="imagesSelect.params.sort_by == 'filename' && imagesSelect.params.desc == true"></i><i class="icon fa fa-caret-up" ng-if="imagesSelect.params.sort_by == 'filename' && imagesSelect.params.desc == false"></i></div>
                        <div class="col-md-4 text-right"><label ng-click="imagesSelect.sort('date_created', !imagesSelect.params.desc)" class="pointer text-primary">Created</label>&nbsp;<i class="icon fa fa-caret-down" ng-if="imagesSelect.params.sort_by == 'date_created' && imagesSelect.params.desc == true"></i><i class="icon fa fa-caret-up" ng-if="imagesSelect.params.sort_by == 'date_created' && imagesSelect.params.desc == false"></i></div>

                    </div>

                    <div class="col-xs-12 hidden-md hidden-lg padding-l0">
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-default btn-header dropdown-toggle" uib-dropdown-toggle><span translate>Sort</span>&nbsp;&nbsp;<i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Filename</li>
                                <li ng-click="imagesSelect.sort('filename', false)" ng-class="{'selected-li': imagesSelect.params.sort_by == 'filename' && imagesSelect.params.desc == false}"><a><i class="dropdown-icon fa fa-sort-amount-asc text-default"></i>&nbsp;&nbsp;<span translate>Ascending</span></a></li>
                                <li ng-click="imagesSelect.sort('filename', true)" ng-class="{'selected-li': imagesSelect.params.sort_by == 'filename' && imagesSelect.params.desc == true}"><a><i class="dropdown-icon fa fa-sort-amount-desc text-default"></i>&nbsp;&nbsp;<span translate>Descending</span></a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Date Created</li>
                                <li ng-click="imagesSelect.sort('date_created', false)" ng-class="{'selected-li': imagesSelect.params.sort_by == 'date_created' && imagesSelect.params.desc == false}"><a><i class="dropdown-icon fa fa-sort-amount-asc text-default"></i>&nbsp;&nbsp;<span translate>Ascending</span></a></li>
                                <li ng-click="imagesSelect.sort('date_created', true)" ng-class="{'selected-li': imagesSelect.params.sort_by == 'date_created' && imagesSelect.params.desc == true}"><a><i class="dropdown-icon fa fa-sort-amount-desc text-default"></i>&nbsp;&nbsp;<span translate>Descending</span></a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Date Updated</li>
                                <li ng-click="imagesSelect.sort('date_modified', false)" ng-class="{'selected-li': imagesSelect.params.sort_by == 'date_modified' && imagesSelect.params.desc == false}"><a><i class="dropdown-icon fa fa-sort-amount-asc text-default"></i>&nbsp;&nbsp;<span translate>Ascending</span></a></li>
                                <li ng-click="imagesSelect.sort('date_modified', true)" ng-class="{'selected-li': imagesSelect.params.sort_by == 'date_modified' && imagesSelect.params.desc == true}"><a><i class="dropdown-icon fa fa-sort-amount-desc text-default"></i>&nbsp;&nbsp;<span translate>Descending</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row spacer-b10 hidden-md hidden-lg"></div> <!--Needed to have the buttons clear-->

                    <div class="gridtable-row pointer" ng-repeat="image in imageList.data" ng-click="imagesSelect.queueToggle(image)">

                        <div class="col-xs-12 col-md-1">
                            <div class="checkbox-group inline">
                                <div class="col-xs-12 value">
                                    <input type="checkbox" id="image-{{image.image_id}}" class="checkbox" name="image-{{image.image_id}}" ng-click="imagesSelect.queueToggle(image); $event.stopPropagation();" ng-checked="imagesSelect.isQueued(image)">
                                    <label for="image-{{image.image_id}}" class="checkbox-label">&nbsp;</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="col-xs-12 value"><img ng-src="{{image.link_square}}" class="thumbnail" style="width:75px;"></div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label>Filename</label></div>
                            <div class="col-xs-7 col-sm-12 col-md-12 value"><span><a>{{image.filename}}</a></span></div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="col-xs-5 col-sm-12 hidden-md hidden-lg lbl"><label>Created</label></div>
                            <div class="col-xs-7 col-sm-12 col-md-12 text-right-md text-right-lg value"><span>{{image.date_created | date:'shortDate'}}</span></div>
                        </div>

                    </div>

                </div>

                <!-- Show pagination if there is at least one page -->
                <div class="col-sm-12" ng-if="imageList.data.length > 0">
                    <ul class="pager">
                        <li class="previous" ng-click="imagesSelect.movePage('-')" ng-show="imageList.previous_page_offset !== null"><a><i class="fa fa-chevron-circle-left"></i> <span translate>Back</span></a></li>
                        <li class="next" ng-click="imagesSelect.movePage('+')" ng-show="imageList.next_page_offset !== null"><a><span translate>Next</span> <i class="fa fa-chevron-circle-right"></i></a></li>
                    </ul>
                    <p class="text-right" ng-if="imageList">Showing page {{imageList.current_page}} of {{imageList.total_pages}}</p>
                </div>

                <!-- Show a "not found" message if no images were found  -->
                <div class="col-sm-12" ng-if="imageList.data.length == 0">
                    <p class="no-info" translate>No images found</p>
                </div>

            </uib-tab>
        </uib-tabset>

    </div>

    <div class="row"></div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="imagesSelect.cancel()">
            <span translate>Cancel</span>
        </button>
        <button type="button" class="btn btn-primary" ng-click="imagesSelect.ok()">
            <span translate>OK</span>
        </button>
    </div>
</div>
