<div ng-controller="PaymentsListCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header">
        <h1 translate>Payments</h1>
        <a id="top" href="/#/payments/add" class="btn btn-primary btn-right" translate resource="payments" method="create"><span class="hidden-xs" translate>Add New</span><span class="hidden-sm hidden-md hidden-lg"><i class="fa fa-plus"></i></span></a>
    </div>

    <div class="panel panel-body light-shadow">
        <div object-list type="payment" url="{{resources.paymentListUrl}}" template-url="app/templates/paymentList.html" embedded="false" page="cursor" error="exception.error"></div>
    </div>

</div>