<div ng-controller="FilesEditCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header">
        <h1>{{file.name}}</h1>
    </div>

    <form name="form" novalidate>

        <div class="panel panel-body light-shadow">

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="name" class="control-label" translate>Name</label>
                    <input type="text" class="form-control" name="name" ng-model="file.name" placeholder="{{ 'Optional' | translate}}">
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="file_id" class="control-label">File ID</label>
                    <div>{{file.file_id}}</div>
                </div>
            </div>

            <div class="row"></div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="filename" class="control-label" translate>Filename</label>
                    <div>{{file.filename}}</div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="bytes" class="control-label" translate>Size</label>
                    <div>{{file.bytes | bytesToMB}} ({{file.bytes}} bytes)</div>
                </div>
            </div>

            <div class="row"></div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Created</label>
                    <div>{{file.date_created | date:'mediumDate'}} {{file.date_created | date:'shortTime'}}</div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Updated</label>
                    <div>{{file.date_modified | date:'mediumDate'}} {{file.date_modified | date:'shortTime'}}</div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="version" class="control-label" translate>Version</label>
                    <input type="text" class="form-control" name="version" ng-model="file.version" placeholder="{{ 'Optional' | translate}}">
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="description" class="control-label" translate>Description</label>
                    <textarea class="form-control" name="description" ng-model="file.description" placeholder="{{ 'Optional' | translate}}"></textarea>
                </div>
                <p class="maxlength-message" max-length="1000" item="form.description"></p>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group" show-errors>
                    <label for="expires_in_days" class="control-label" translate>Days till a link expires</label>
                    <input type="tel" class="form-control" name="expires_in_days" ng-model="file.expires_in_days" placeholder="{{ 'Optional' | translate}}" is-valid-integer allow-empty-value="true">
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group" show-errors>
                    <label for="expires_in_clicks" class="control-label" translate>Clicks till a link expires</label>
                    <input type="tel" class="form-control" name="expires_in_clicks" ng-model="file.expires_in_clicks" placeholder="{{ 'Optional' | translate}}" is-valid-integer allow-empty-value="true">
                </div>
            </div>

            <div class="col-xs-12">
                <span class="btn btn-info btn spacer-t5" create-download file="file" error="exception.error"><i class="fa fa-download"></i> <span translate>Get Download Link</span></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-right btn-margin-left" ng-click="updateFile()" translate>Save Changes</button>
                <button type="submit" class="btn btn-default btn-right btn-margin-left" ng-click="confirmCancel()" translate>Cancel</button>
            </div>

            <div class="row"></div>

            <div class="panel-footer submenu" resource="files" method="delete">
                <span class="delete" ng-click="confirmDelete()" translate>Delete this file</span>
            </div>

        </div>
    </form>

    <div class="panel light-shadow spacer-t20">
        <div class="panel-heading">
            <span class="panel-title text-bold" translate>Update File</span>
        </div>
        <div class="panel-body">

            <form class="form-group dropzone" dropzone dropzone-url="{{ uploadUrl }}" dropzone-max-files="1" dropzone-max-size="75000000" dropzone-auto-upload="false" dropzone-template-id="dz-file" dropzone-show-delete="false" dropzone-hide="options.by_url" novalidate>

                <div class="col-xs-12" ng-show="!uploadSending">
                    <div class="form-group" show-errors>
                        <label class="radio-group-label" translate>How do you want to send your file?</label>
                        <div class="radio-group inline">
                            <input type="radio" id="by_url-1" class="radio" name="by_url" ng-model="options.by_url" ng-value="false" required>
                            <label for="by_url-1" class="radio-label">Direct file upload</label>
                            <input type="radio" id="by_url-2" class="radio" name="send_events" ng-model="options.by_url" ng-value="true" required>
                            <label for="by_url-2" class="radio-label">From a URL</label>
                        </div>
                        <div>
                            <p class="help-text" translate>Direct file uploads are limited to 75 MB. Upload from a URL for larger files.</p>
                        </div>
                    </div>
                </div>

                <div ng-show="options.by_url">
                    <div class="col-xs-12">
                        <div class="form-group" show-errors>
                            <label for="options_url" class="control-label required" translate>URL</label>
                            <input type="text" class="form-control" name="options_url" ng-model="options.url" placeholder="">
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="form-group" show-errors>
                            <label for="options_http_authorization_username" class="control-label" translate>HTTP Authorization Username</label>
                            <input type="tel" class="form-control" name="options_http_authorization_username" ng-model="options.http_authorization_username" placeholder="{{ 'Optional' | translate}}">
                            <div>
                                <p class="help-text" translate>Supply credentials if your server requires</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="form-group" show-errors>
                            <label for="options_http_authorization_password" class="control-label" translate>HTTP Authorization Password</label>
                            <input type="tel" class="form-control" name="options_http_authorization_password" ng-model="options.http_authorization_password" placeholder="{{ 'Optional' | translate}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-primary btn-right btn-margin-left" ng-click="uploadByUrl()" translate>Upload File</a>
                    </div>

                </div>

            </form>

            <div class="row"></div>

            <div class="col-xs-12">
                <div class="form-group">
                    <button id="top" class="btn btn-danger btn-right spacer-b10" ng-click="cancelUpload()" ng-if="uploadSending"><i class="icon fa fa-times-circle"></i>&nbsp;<span translate>Cancel Upload</span></button>
                </div>
            </div>

        </div>
    </div>
</div>

