<div ng-controller="EventSubscriptionsSetCtrl" class="content container">

    <div class="callout callout-danger" ng-if="exception.error">
        <h4 translate>Oops! We had a problem.</h4>
        <p>{{exception.error.message}}</p>
        <span class="error-code" ng-if="exception.error.reference">Error code: {{exception.error.reference}}</span>
    </div>

    <div class="page-header">
        <h1 ng-if="add" translate>Add Event Subscription</h1>
        <h1 ng-if="update" translate>Event Subscription {{eventSubscription.event_subscription_id}}</h1>
    </div>
    <form name="form" novalidate>
        <div class="panel panel-body light-shadow">
            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="event_type" class="control-label" translate>Event Type</label>
                    <select class="form-control text-capitalize" name="event_type" ng-model="eventSubscription.event_type" ng-options="event_type.code as event_type.name for event_type in event_types" required></select>
                    <p class="help-block hidden fadeInDown" translate>Please provide an event type</p>
                    <div>
                        <p class="help-text" translate>The type of event for which you want to receive notification.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6" show-errors>
                <div class="form-group">
                    <label class="radio-group-label required" translate>Method</label>
                    <div class="radio-group inline">
                        <input type="radio" id="method-2" class="radio" name="method" ng-model="eventSubscription.method" value="http" required>
                        <label for="method-2" class="radio-label">HTTP / HTTPS</label>
                        <input type="radio" id="method-1" class="radio" name="method" ng-model="eventSubscription.method" value="email" required>
                        <label for="method-1" class="radio-label">Email</label>
                    </div>
                    <p class="help-block hidden fadeInDown" translate>Please provide a method</p>
                    <div>
                        <p class="help-text" translate>Events can be sent by email or by HTTP/S to a remote URL.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" show-errors>
                <div class="form-group">
                    <label class="radio-group-label required" translate>Format</label>
                    <div class="radio-group inline">
                        <input type="radio" id="format-1" class="radio" name="format" ng-model="eventSubscription.format" value="json" required>
                        <label for="format-1" class="radio-label">JSON</label>
                        <input type="radio" id="format-2" class="radio" name="format" ng-model="eventSubscription.format" value="xml" required>
                        <label for="format-2" class="radio-label">XML</label>
                        <input type="radio" id="format-3" class="radio" name="format" ng-model="eventSubscription.format" value="html" required>
                        <label for="format-3" class="radio-label">HTML</label>
                    </div>
                    <p class="help-block hidden fadeInDown" translate>Please provide a format</p>
                    <div>
                        <p class="help-text" translate>Indicates how you want the event data formatted.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group" ng-show="eventSubscription.method == 'http'" show-errors>
                    <label for="url" class="control-label required" translate>Destination URL</label>
                    <input type="url" class="form-control" name="url" ng-model="options.url" is-valid-url placeholder="">
                    <p class="help-block hidden fadeInDown" translate>Please provide a valid URL</p>
                </div>
                <div class="form-group" ng-show="eventSubscription.method == 'email'" show-errors>
                    <label for="email" class="control-label required" translate>Destination Email Address</label>
                    <input type="text" class="form-control" name="email" ng-model="options.email" placeholder="">
                    <p class="help-block hidden fadeInDown" translate>Please provide a valid email address</p>
                    <div>
                        <p class="help-text" translate>To send notification to more than one email address, provide a comma-separated list of email addresses.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="signature_key" class="control-label" translate>Signature Key</label>
                    <input type="text" class="form-control" name="signature_key" ng-model="eventSubscription.signature_key">
                    <div>
                        <p class="help-text" translate>For events sent by HTTP, we'll include an HTTP header 'X-Comecero-Signature' that is an <a href="https://en.wikipedia.org/wiki/Hash-based_message_authentication_code" target="_blank">HMAC-SHA256</a> of the request payload, using this value as the key for the hash. If you don't supply a key, the hash will be created using the global signature key provided In your <a href="/#/settings/technical">Technical Settings</a>.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6" ng-show="eventSubscription.method == 'http'">
                <div class="form-group" show-errors>
                    <label for="http_authorization_username" class="control-label" translate>HTTP Authorization Username</label>
                    <input type="text" class="form-control" name="http_authorization_username" ng-model="eventSubscription.http_authorization_username">
                    <div>
                        <p class="help-text" translate>If your URL requires HTTP Authorization, supply the username.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" ng-show="eventSubscription.method == 'http'">
                <div class="form-group" show-errors>
                    <label for="http_authorization_password" class="control-label" translate>HTTP Authorization Password</label>
                    <input type="text" class="form-control" name="http_authorization_password" ng-model="eventSubscription.http_authorization_password">
                    <div>
                        <p class="help-text" translate>If your URL requires HTTP Authorization, supply the password.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group" show-errors>
                    <label for="custom_header_name" class="control-label" translate>Custom Header Name</label>
                    <input type="text" class="form-control" name="custom_header_name" ng-model="eventSubscription.custom_header_name">
                    <div>
                        <p class="help-text" translate>The name of a custom header you would like included in the request.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group" show-errors>
                    <label for="custom_header_value" class="control-label" translate>Custom Header Value</label>
                    <input type="text" class="form-control" name="custom_header_value" ng-model="eventSubscription.custom_header_value">
                    <div>
                        <p class="help-text" translate>The value of the custom header you would like included in the request.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="expand" class="control-label" translate>Expand</label>
                    <input type="text" class="form-control" name="expand" ng-model="eventSubscription.expand">
                    <div>
                        <p class="help-text" translate>A comma-separated list of resources you wish to expand within your event resource. Event subscriptions are designed to receive a particular resource (such as an order or shipment). You can supply a comma separated list of child resources you wish to expand within your event data. For example, if you are subscribing to the 'order created' event and indicate to expand 'customer,payment', your event data will include the order with the customer and payment resources expanded. <a href="https://docs.comecero.com/basic-concepts/#expanding-objects" target="_blank">Read more here</a>. For performance, you should only expand resources you intend to use.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="show" class="control-label" translate>Show</label>
                    <input type="text" class="form-control" name="show" ng-model="eventSubscription.show">
                    <div>
                        <p class="help-text" translate>A comma-separated list of items you wish to show within your event data. To increase performance of event processing, you can limit the fields that are supplied in your event data to only the ones you need. <a href="https://docs.comecero.com/basic-concepts/#customizing-output" target="_blank">Read more</a> about customizing resources. If you supply a value for show, you cannot supply a value for hide.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="hide" class="control-label" translate>Hide</label>
                    <input type="text" class="form-control" name="hide" ng-model="eventSubscription.hide">
                    <div>
                        <p class="help-text" translate>A comma-separated list of items you wish to hide within your event data. To increase performance of event processing, you can limit the fields that are supplied in your event data to only the ones you need. <a href="https://docs.comecero.com/basic-concepts/#customizing-output" target="_blank">Read more</a> about customizing resources. If you supply a value for hide, you cannot supply a value for show.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <label for="description" class="control-label" translate>Environment Variables</label>
            </div>

            <div ng-repeat="variable in environmentVariables">
                <ng-form name="variables">
                    <div class="col-md-6 col-xs-12" style="margin-bottom:-15px;">
                        <div class="form-group">
                            <label for="name" class="control-label text-capitalize" translate>Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="name" ng-model="variable.name">
                                <span class="input-group-addon pointer" ng-click="removeVariable(environmentVariables, $index)"><i class="fa fa-trash pointer text-default" title="{{ 'Remove' | translate}}"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12" style="margin-bottom:-15px;">
                        <div class="form-group">
                            <label for="value" class="control-label text-capitalize" translate>Value</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="value" ng-model="variable.value">
                            </div>
                        </div>
                    </div>

                    <div class="row"></div>
                </ng-form>
            </div>

            <div class="col-xs-12" style="margin-top:-5px; margin-bottom:35px;">
                <a class="btn btn-sm btn-info" ng-click="addVariable()" translate>Add environment variable</a>
                <p class="help-text" translate>Environment variables allow you to pass settings or configuration valules to your event destination, making it easier to use the same source code in live and test scenarios.</p>
            </div>

            <div class="col-xs-12" show-errors>
                <div class="form-group">
                    <label class="radio-group-label" translate>Set Active?</label>
                    <div class="radio-group inline">
                        <input type="radio" id="active-1" class="radio" name="active" ng-model="eventSubscription.active" ng-value="true" required>
                        <label for="active-1" class="radio-label">Yes</label>
                        <input type="radio" id="active-2" class="radio" name="active" ng-model="eventSubscription.active" ng-value="false" required>
                        <label for="active-2" class="radio-label">No</label>
                    </div>
                    <p class="help-block hidden fadeInDown" translate>Please provide an active status</p>
                    <div>
                        <p class="help-text" translate>Events are only sent when the event subscription is active.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 ">
                <div class="form-group">
                    <label class="control-label">Timezone</label>
                    <input type="text" class="form-control" name="timezone" ng-model="eventSubscription.timezone" uib-typeahead="timezone as timezone for timezone in timezones | filter:$viewValue | limitTo:20" typeahead-editable="false" typeahead-min-length="0">
                    <div>
                        <p class="help-text" translate>By default, dates in the event data are in the UTC timezone. A different timezone can be defined, if desired.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="comments" class="control-label" translate>Comments</label>
                    <textarea type="text" class="form-control no-wrap" name="comments" ng-model="eventSubscription.comments"></textarea>
                    <div>
                        <p class="help-text" translate>For your use in identifying the purpose of the event subscription.</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button ng-if="add" type="submit" class="btn btn-primary btn-right btn-margin-left" ng-click="addEventSubscription()" validate-on-submit translate>Add Event Subscription</button>
                <button ng-if="update" type="submit" class="btn btn-primary btn-right btn-margin-left" ng-click="updateEventSubscription()" validate-on-submit translate>Save Changes</button>
                <button ng-if="update" type="submit" class="btn btn-default btn-right btn-margin-left" ng-click="confirmCancel()" translate>Cancel</button>
            </div>

            <div class="row"></div>

            <div ng-if="update" class="panel-footer submenu" resource="products" method="delete">
                <span class="delete" ng-click="confirmDelete()" translate>Delete this event subscription</span>
            </div>

        </div>
    </form>
</div>