<div class="col-sm-12 text-right spacer-b40" ng-if="settings.search">
    <form class="form-inline">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" ng-model="userParams.q" ng-change="search(userParams.q)" ng-model-options="{ updateOn: 'default blur', debounce: { default: 750, blur: 0 } }" select-on-click placeholder="{{ 'Search' | translate }}...">
            <span class="fa fa-search form-control-feedback"></span>
        </div>
    </form>
</div>

<div class="row"></div>

<div ng-repeat="app in list.data">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title"><img ng-src="{{app.image_url}}" class="thumbnail inline" style="width:30px; margin-bottom:0"><strong class="padding-l5">{{app.name}}</strong></span>
                <div class="panel-heading-controls">
                    <span class="badge badge-info">{{app.version}}</span>
                </div>
            </div>
            <div class="panel-body">
                <p style="min-height: 40px; overflow: hidden"><i>{{app.short_description}}</i> <span ng-show="app.description && !showDescription"><i class="faux-link" ng-click="showDescription = true">More</i></span></p>
                <p ng-show="showDescription">{{app.description}} <i class="faux-link" ng-click="showDescription = false">Less</i></p>
                <p class="spacer-b20"><span translate>Installed</span>: {{app.date_created | date:'shortDate'}}</p>

                <a ng-href="{{functions.getInfoUrl(app, meta.test)}}" target="_blank" class="btn btn-xs btn-blue" ng-show="app.info_url">Getting Started</a>
                <div class="btn-group" uib-dropdown ng-show="app.settings_fields || app.style_fields">
                    <button type="button" class="btn btn-xs btn-default btn-header dropdown-toggle" uib-dropdown-toggle><span translate>Customize</span>&nbsp;&nbsp;<i class="fa fa-caret-down"></i></button>
                    <ul class="dropdown-menu">
                        <li ng-show="app.settings_fields"><a ng-href="#/app_installations/{{app.app_installation_id}}/settings"><i class="dropdown-icon fa fa-cogs text-default"></i>&nbsp;&nbsp;<span translate>Settings</span></a></li>
                        <li ng-show="app.style_fields"><a ng-href="#/app_installations/{{app.app_installation_id}}/style"><i class="dropdown-icon fa fa-paint-brush text-default"></i>&nbsp;&nbsp;<span translate>Style</span></a></li>
                    </ul>
                </div>

                <a ng-href="#/app_installations/manage/{{app.app_id}}" class="btn btn-xs btn-default" translate>Manage</a>
                <button class="btn btn-xs btn-success pull-right" translate>Launch</button>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!(($index + 1) % 2)"></div>
</div>

<!-- Show pagination if there is at least one page -->
<div class="col-sm-12" ng-if="list.data.length > 0 && settings.page == 'cursor'">
    <ul class="pager">
        <li class="previous" ng-click="movePage('-', list.previous_page_before_item)" ng-if="list.previous_page_before_item"><a><i class="fa fa-chevron-circle-left"></i>&nbsp;<span translate>Back</span></a></li>
        <li class="next" ng-click="movePage('+', list.next_page_after_item)" ng-if="list.next_page_after_item"><a><span translate>Next</span>&nbsp;<i class="fa fa-chevron-circle-right"></i></a></li>
    </ul>
</div>

<div class="col-sm-12" ng-if="list.data.length > 0 && settings.page == 'offset'">
    <ul class="pager">
        <li class="previous" ng-click="movePage('-', list.previous_page_offset)" ng-if="list.previous_page_offset !== null"><a><i class="fa fa-chevron-circle-left"></i> <span translate>Back</span></a></li>
        <li class="next" ng-click="movePage('+', list.next_page_offset)" ng-if="list.next_page_offset !== null"><a><span translate>Next</span> <i class="fa fa-chevron-circle-right"></i></a></li>
    </ul>
    <p class="text-right" translate>Showing page {{list.current_page}} of {{list.total_pages}}</p>
</div>

<!-- Show a "not found" message if no app_installations were found  -->
<div class="col-sm-12" ng-if="list.data.length == 0">
    <p class="no-info" translate>No Apps found</p>
</div>
