<div ng-repeat="price in prices">

    <ng-form name="prices">

        <div class="col-md-6 col-xs-12" ng-class="{ 'has-error': prices.price.$invalid && (prices.price.$dirty || form.$submitted) }" style="margin-bottom:-5px;">
            <div class="form-group">
                <label for="price" class="control-label text-capitalize" translate>{{label}}</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-class="{'input-radius': $index == 0}" name="price" ng-model="price.price" ng-model-options="{ updateOn: 'blur' }" is-valid-price allow-empty-price="true" clean-price required>
                    <span class="input-group-addon pointer" ng-if="$index > 0" ng-click="removePrice(prices, $index)"><i class="fa fa-trash pointer text-default" ng-if="$index > 0" title="{{ 'Remove' | translate}}"></i></span>
                </div>
                <p class="help-block fadeInDown" ng-show="prices.price.$invalid && (prices.price.$dirty || form.$submitted)" translate>Please provide a valid price</p>
            </div>
        </div>

        <div class="col-md-6 col-xs-12" ng-class="{ 'has-error': prices.currency.$invalid && (prices.currency.$dirty || form.$submitted) }" style="margin-bottom:-5px;">
            <div class="form-group">
                <label for="currency" class="control-label" translate>Currency</label>
                <select class="form-control" name="currency" ng-model="price.currency" ng-options="currency.code as currency.code + ' - ' + currency.name for currency in currencies" required></select>
                <p class="help-block fadeInDown" ng-show="prices.currency.$invalid && (prices.currency.$dirty || form.$submitted)" translate>Please select a currency</p>
            </div>
        </div>

        <div class="row"></div>

    </ng-form>

</div>

<div class="col-xs-12" style="margin-top:-15px; margin-bottom:35px;">
    <a class="btn btn-sm btn-info" ng-click="showAddPrice()" translate>Add {{label}} in another currency</a>
</div>
